{% extends "base.html" %}

{% block title %}
CRUD - Signup
{% endblock %}

{% block content %}
<div class="row">
  <div class="col"></div>
  <div class="col-6">
      <div class="alert alert-primary" role="alert">
          <strong>Sign Up</strong>
      </div>
      <form method="POST" action="{% url 'signup'%}">
          {% csrf_token %}
          {{signup_form}}
          <br>
          <input type = "submit" value="Sign Up" class='btn btn-outline-primary'>
      </form>
  </div>
  <div class="col"></div>
</div>

{% endblock %}